/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    background-image: url("../images/cinema_background.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    
}

.jumbotron .container {
    background-image: url("../images/50pcblack.png");
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}

.jumbotron .container h1 {
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.jumbotron .container p {
    color: white;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-flow: row wrap;
}

.search_result {
    padding: 25px;
    text-align: center;
}

.search_pages {
    text-align: center;
    background-color: #3B3333;
    color: white;
    
}

.search_pages a {
    text-decoration: none;
    color: white;
}

.movie_details {
    background-image: url("../images/75pcblack.png");
    border-radius: 5px;
    padding: 10px;
    margin: 25px 0px;
    color: white;
}

.movie_details a {
    color: rgb(180, 240, 241);
}

.movie_details .btn {
    padding: 2px 5px;
    margin: 2px 5px;
}

.movie_details .review_content {
    color: black;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 5px;
}

.movie_details .review_content a {
    color: blue;
}

.movie_poster {
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: 25px 0px;
}