body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.container:not(:first-child)  {
  background-color: #f4f4f4;
}

.frontpage {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

.frontpage .container {
  border-radius: 25px;
  padding-bottom: 5vh;
}

.jumbotron .container {
  background-image: url("../images/75pcblack.png");
  color: white;
  margin: auto;
}

.frontpage .container h1 {
  font-size: 250%;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 3vh;
  padding-bottom: 20px;
  font-family: "Oxygen";
}

.frontpage .container p {
  text-align: justify;
  color: white;
  padding: 20px;
  font-family: "Oxygen";
  font-size: 130%;
}

.frontpage .container h3 {
  text-align: center;
  color: white;
  padding: 1vh;
  font-family: "Oxygen";
  font-size: 150%;
}

.frontpage .container form {
  padding: 3vh;
  padding-bottom: 20px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-flow: row wrap;
}

.search_result {
    padding: 25px;
    text-align: center;
}

.search_pages {
    text-align: center;
    background-color: #3B3333;
    color: white;
    
}

.search_pages a {
    text-decoration: none;
    color: white;
}

.movie_details {
    background-image: url("../images/75pcblack.png");
    border-radius: 5px;
    padding: 0px 20px;
    margin: 25px 0px;
    color: white;
}

.movie_details a {
    color: rgb(180, 240, 241);
}

.movie_details div {
    padding-top: 5px;
}

.movie_details .review_content {
    color: black;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 5px;
}

.movie_details .review_content a {
    color: blue;
}

.movie_poster {
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: 25px 0px;
}

.heading {
  font-weight: bold;
  display: inline;
  padding-right: 20px;
}

.content {
  display: inline;
}

.synopsis {
  text-align: justify;
}

.carousel-inner { 
  text-align: center;
}

.carousel .item img, .carousel .item a img {
  display: inline-block;
}

.carousel-caption {
  background-image: url("../images/75pcblack.png");
}

.footer {
  padding: 1rem;
  background-color: #f4f4f4;
  text-align: center;
}