<div class="footer">
  <div class="row">
    <div class="col-xs-4">
      <p>&copy; James Simpson, 2016.</p>
    </div>
    <div class="col-xs-4">
      <%= image_tag "tmdb_logo.png", :height => "30" %>
    </div>
    <div class="col-xs-4">
      <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
    </div>
  </div>
</div>