<div class="footer">
  <div class="container">
    <div class="row">
      <div class= "col-xs-12 col-sm-2 text-center">
        <%= image_tag "tmdb_logo.png", :height => "30" %>
      </div>
      <div class="col-xs-12 col-sm-10">
        <p>Created by James Simpson, 2016. This product uses the TMDb and OMDb APIs but is not endorsed or certified by TMDb nor OMDb. Seeded with data from MovieLens but is not endorsed by the University of Minnesota or the GroupLens Research Group.</p>
      </div>
    </div>
  </div>
</div>