<div class="container-fluid">
  <div class="jumbotron frontpage" style="background-image: url('<%= image_path "film_negative_jumbotron.jpg" %>'); border-radius:0px;" >
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <h1>New Movies, New Experiences</h1>
        <p>WatchList is your personal movie recommendation engine. Feed it the title of a movie you loved and discover a whole new world of entertainment you might have missed. New movies, old movies, artsy movies, blockbusters &mdash; WatchList has you covered.</p>
        <h3>What was the last movie you watched and loved?</h3>
        <%= render partial: "shared/movie_title_lookup" %>
      </div>
    </div>
  </div>
</div>
  
        
 